.app {
  display: flex;
  flex: 1;
  /* от этих стилей можно избавиться в дальнейшем */
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Итоговый эффект:
 .app — вертикальный flex-контейнер, который:

раскладывает свои элементы в колонку

центрирует их по горизонтали

оставляет между ними интервалы по 30px

при необходимости сам растягивается, занимая доступное пространство в родительском flex-контейнере. */